In [31]:
#Import the relevant libraries and read the salaries.csv as a dataframe called sal
import pandas as pd
import numpy as np

In [12]:
sal=pd.read_csv("C:\\Users\\USER\\Desktop\\Data Science\\Salaries.csv")

In [13]:
#Check the head of the Dataframe
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [14]:
#How many entries are there in the data set? How many columns are there and what are the data types of each?

sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [15]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [16]:
#What is the average BasePay ?
sal['BasePay'].mean()

66325.44884050643

In [17]:
#What is the highest amount of OvertimePay in the dataset ?
sal['OvertimePay'].max()

245131.88

In [18]:
#What is the job title of JOSEPH DRISCOLL ?
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [19]:
#How much does JOSEPH DRISCOLL make (including benefits)?
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [21]:
#What is the name of highest paid person (including benefits)? Do you notice something strange about how much he or she is paid?
highest=sal.nlargest(1,'TotalPayBenefits')['EmployeeName']
highest

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [24]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ?
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [25]:
#How many unique job titles are there?
sal['JobTitle'].nunique()

2159

In [26]:
#What are the top 5 most common jobs?
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [47]:
#How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [62]:
#How many people have the word Chief in their job title?
sal['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

627

In [56]:
#Bonus: Is there a correlation between length of the Job Title string and Salary?
sal['title_lenght']=sal['JobTitle'].apply(len)
sal[['title_lenght','TotalPayBenefits']].corr()

                  title_lenght  TotalPayBenefits
title_lenght          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000