### Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.

In [1]:
import pandas as pd

In [2]:
cd

C:\Users\USER

In [5]:
ecom=pd.read_csv('C:\\Users\\USER\\Desktop\\Data Science\\Ecommerce Purchases.csv')

### Check the last five entries of the DataFrame.

In [6]:
ecom.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

### Do some basic descriptive statistics of the data set.

In [7]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

### How many rows and columns are there?

In [44]:
row_col=ecom.shape
print("Number of rows:",row_col[0])
print("Number of columns:",row_col[1])

Number of rows: 10000
Number of columns: 14

In [9]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

### What is the average Purchase Price?

In [46]:
avg=ecom['Purchase Price'].mean()
print("The average purchase price is:",avg)

The average purchase price is: 50.34730200000025

### What were the highest and lowest purchase prices?

In [47]:
maximum=ecom['Purchase Price'].max()
print("The maximum purchase price is:",maximum)

The maximum purchase price is: 99.99

In [49]:
minimum=ecom['Purchase Price'].min()
print("The minimum purchase price is:",minimum)

The minimum purchase price is: 0.0

### How many people have English 'en' as their Language of choice on the website?

In [20]:
sum(ecom['Language']=='en')

1098

### How many people have the job title of "Lawyer" ?

In [50]:
lawyers=sum(ecom['Job']=='Lawyer')
print("The number of lawyers is:",lawyers)

The number of lawyers is 30

### How many people made the purchase during the AM and how many people made the purchase during PM ?

In [39]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### What are the 5 most common Job Titles?

In [26]:
ecom['Job'].value_counts().head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

### Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [28]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### What is the email of the person with the following Credit Card Number: 4926535242672853

In [29]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?

In [40]:
sum(ecom[ecom['CC Provider']=='American Express']['Purchase Price']>95)

39

### How many people have a credit card that expires in 2025?

In [51]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:])=='25')

1033

### What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [42]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

### Bonus Question on Salaries csv.Â¶
Is there a correlation between length of the JobTitle string and Salary?

In [53]:
sal=pd.read_csv("C:\\Users\\USER\\Desktop\\Data Science\\Salaries.csv")

In [57]:
sal['title_lenght']=sal['JobTitle'].apply(len)
sal[['title_lenght','TotalPayBenefits']].corr()

                  title_lenght  TotalPayBenefits
title_lenght          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000

In [ ]:
#No correlation